/* POPUP BOX OVERLAY */
.signinBox {
    width: 350px;
    
    border: #000 1px solid;
    border-radius: 12px;    
    position: absolute;
    top: 50%; /* center vertically */
    left: 50%; /* center horizontally */
    transform: translate(-50%, -50%);
    text-align: center;
    padding: 30px 30px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    z-index: 1000;
}

/* Inputs inside popup */
.signinBox input[type="email"],
.signinBox input[type="password"] {
    width: 85%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 6px;
    border: 1px solid #ccc;
    font-size: 16px;
}

/* Sign-in texts */
.signinBox h2 {
    margin-bottom: 5px;
    font-size: 30px;
    color: white;
}
.signinBox p {
    font-size: 14px;
    color: white;
    margin-bottom: 15px;
}
.signinBox a {
    color: white;
    font-size: 14px;
    text-decoration: none;
}

/* Sign-in button */
.signinBox button {
    width: 85%;
    padding: 10px;
    margin-top: 20px;
    border: none;
    border-radius: 6px;
    background: #000;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s;
}

.signinBox button:hover {
    background: #333;
}

/* Close button (top-right corner) */
.signinBox .closeBtn {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 20px;
    font-weight: bold;
    color: white;
    cursor: pointer;
}

/* Popup background overlay */
.popupSigninOverlay {
    display: none; /* hidden by default */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* semi-transparent dark */
    z-index: 999; /* above other elements */
}

/* POPUP BOX OVERLAY */
.signupBox {
    width: 350px;
    
    border: #000 1px solid;
    border-radius: 12px;    
    position: absolute;
    top: 50%; /* center vertically */
    left: 50%; /* center horizontally */
    transform: translate(-50%, -50%);
    text-align: center;
    padding: 30px 30px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    z-index: 1000;
}

/* Inputs inside popup */
.signupBox input[type="email"],
.signupBox input[type="password"] {
    width: 85%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 6px;
    border: 1px solid #ccc;
    font-size: 16px;
}

/* Sign-in texts */
.signupBox h2 {
    margin-bottom: 5px;
    font-size: 30px;
    color: white;
}
.signupBox p {
    font-size: 14px;
    color: white;
    margin-bottom: 15px;
}
.signupBox a {
    color: white;
    font-size: 14px;
    text-decoration: none;
}


/* Sign-up button */
.signupBox button {
    width: 85%;
    padding: 10px;
    margin-top: 20px;
    border: none;
    border-radius: 6px;
    background: #000;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s;
}

.signupBox button:hover {
    background: #333;
}

/* Close button (top-right corner) */
.signupBox .closeBtn {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 20px;
    font-weight: bold;
    color: white;
    cursor: pointer;
}

/* Popup background overlay */
.popupSignupOverlay {
    display: none; /* hidden by default */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* semi-transparent dark */
    z-index: 999; /* above other elements */
}